img{
    width: 389px;
    display: block;


}

h1{
  color: wheat;
  text-align: center;  
}

body{
    background-color:rgb(22, 0, 0);
    padding: 0px;

}

p{
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 9%;
}

.uribella{
    color: rgba(255, 255, 255, 0.384);
    text-align: end ;
}

.derechos{
    color: rgba(255, 255, 255, 0.384);
    text-align: center ;
}